{% extends "layouts/base.html" %}
{% set project = "Arushi" %}
{% block body %}

    <style>
    html, body{
        background-color: #8b008b;
    }
    </style>

    <div class="center-block" style="margin: 2% 5% 5%; text-align:center;">
        <html class="col-12">
            <h1>Arushi Bharadwaj</h1>
            <h3>Hi, I'm Arushi Bharadwaj! I am the Scrum Master of CodeFish!</h3>

            <h4>Trimester 2 Journal</h4>
            <iframe width="1200" height="400" src="https://docs.google.com/document/d/16o3o5L5B4DmtTVELuLkJn74eIoZSZdqsb6bwgiK-lzw/edit?usp=sharing" title="Trimester 1 Personal Journal" frameborder="8"></iframe>

            <h4> Commits and Issues</h4>
            <a href="https://github.com/arushi10/codefish/commits?author=arushi10" >
                <button type="button" class="btn btn-info">Commits</button>
            </a>
            <a href="https://github.com/arushi10/codefish/issues/assigned/arushi10" >
                <button type="button" class="btn btn-info">Issues</button>
            </a>
            <a href="https://docs.google.com/document/d/1dAsbFikf4qthX4sz2iv2ZrctBKVEYsjbUygShl7hyIg/edit?usp=sharing">
                <button type="button" class="btn btn-info">Create Task Plan</button>
            </a>

            <h4>Days RESTapi from rapidapi.com</h4>

{#table style#}
            <style>
                table, th, td {
                    border:1px solid white;
                    color: white;
                }
            </style>

            {% set start = stats.first_interpreted_date %}
            {% set end = stats.second_interpreted_date %}
            {% set days = stats.business_days %}

{#            refresh button - API has limit of 1000 runs/month #}
{#            <form action={{url_for('.arushi')}}>#}
{#                <button>Refresh!</button>#}
{#            </form>#}

            <table style="width:100%;">

                            <tr>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Number of School Days</th>
                            </tr>

                            <tr>
                                <td> {{start}}</td>
                                <td> {{end}} </td>
                                <td> {{days}} </td>
                            </tr>
            </table>
        </html>

            <h4>Click Image to Toggle</h4>

    <img id="myImage" onclick="changeImage()" src="/static/assets/arushi_images/maskless_pic.jpg" width="20%" height="20%" style="margin: 0 40% 60%">

    <script>
        function changeImage() {
            let image = document.getElementById('myImage');
            if (image.src.match("/static/assets/arushi_images/maskless_pic.jpg")) {
                image.src = "/static/assets/arushi_images/mask_pic.jpg";
                } else {
                    image.src = "/static/assets/arushi_images/maskless_pic.jpg";
                }
        }
    </script>
    </div>

{% endblock %}