<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Vaishavi's" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
    <div class="col-12">
        <div class="col-12">
            <h1 style="color:white;">We are team TechFish! We are dedicated to making your shopping more efficient!</h1>
        <a href="http://127.0.0.1:5000/"><img  <img src="/static/assets/csp_mainaboutus.png" style="height: 400px" alt = "loading";"></a>
            <h1 style="color:white;</h1>
        <div class="col-12">
            <h1 style="color:white;">Meet us individually!</h1>

        <a href="http://127.0.0.1:5000/arushi/"><img  <img src="/static/assets/arushislack.jpg" style="height: 300px" alt = "loading";"></a>
        <a href="http://127.0.0.1:5000/siya/"><img  <img src="/static/siyaassets/siyacsp.jpg" style="height: 300px" alt = "loading";"></a>
        <a href="http://127.0.0.1:5000/prisha/"><img  <img src="/static/assets/prishaslack.jpg" style="height: 280px" alt = "loading";"></a>
        <a <a href="http://127.0.0.1:5000/vai/"><img  <img src="/static/assets/vaishavipic.jpeg" style="height: 280px" alt = "loading";"></a>

    </div>
</div>


{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}