<head>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
</head>
<style>
    body {
        margin: 0;
        font-family: "Bell MT";
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
    }
    li {
        position: relative;
        padding: 0 10px;
        height: 100%;
        display: flex;
    }
    a {
        z-index: 1;
        color: white;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        padding: 10px 5px;
    }
    li::before {
        content: "";
        position: absolute;
        height: 33.3%;
        width: 0;
        background-color: goldenrod;
        right: 0;
        z-index: 0;
        top: 33.33%;
        transition: all 0.5s;
    }
    li::after {
        content: "";
        position: absolute;
        height: 33.3%;
        width: 0;
        background-color: goldenrod;
        left: 0;
        z-index: 0;
        bottom: 0;
        transition: all 0.5s;
    }
    a::before {
        position: absolute;
        content: "";
        height: 33.3%;
        width: 0;
        background-color: goldenrod;
        bottom: 130%;
        left: 0;
        transition: all 0.5s;
    }


    .button {
        background-color: white;
        border: none;
        color: white;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        border: 2px solid #111B2D;
        background-color: white;
        color: #111B2D;
    }

    .button1:hover {
        background-color: #111B2D;
        color: white;
    }
</style>


<!-- CODEFISH -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
    <a class="navbar-brand" href="https://github.com/arushi10/flask_portfolio" style = "position: relative; left: 16px;">CodeFish</a>
    <button class = "button button1" onclick="darkMode()" style = "position: relative; left: 7px;">Toggle Dark Mode</button>
    <button class = "button button1" onclick="googleTranslateElementInit()" style = "position: relative; left: 7px;">Translate</button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MAIN TABS W/O DROPDOWNS -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <li>
                <a class="nav-link" style = "position: relative; left: 24px; top: 24px;" href={{ url_for('index') }}>Home</a>
            </li>
            <li>

            {#            <li>#}
            {#                <a class="nav-link" href={{ url_for('weather') }}>Weather</a>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a class="nav-link" href={{ url_for('quiz') }}>Quiz</a>#}
            {#            </li>#}
            {#            <li>#}
            {#                <a class="nav-link" href={{ url_for('googlemap') }}>Locations</a>#}
            {#            </li>#}

            <!-- DEPARTMENTS DROPDOWN -->
            {#            <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
            {#                <li class="nav-item dropdown">#}
            {#                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
            {#                        Departments#}
            {#                    </a>#}
            {#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
            {#                        <a class="nav-link" href="{{ url_for('phonestablets') }}">Phones and Tablets</a>#}
            {#                        <a class="nav-link" href="{{ url_for('desktopstvs') }}">Desktops/TVs</a>#}
            {#                        <a class="nav-link" href="{{ url_for('audiodevices') }}">Audio Devices</a>#}
            {#                        <a class="nav-link" href="{{ url_for('aidevices') }}">AI Devices</a>#}
            {#                    </div>#}
            {#                </li>#}
            {#            </div>#}

            {#            <!-- MINI LABS DROPDOWN -->#}
            {#            <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
            {#                <li class="nav-item dropdown">#}
            {#                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
            {#                        Mini Labs#}
            {#                    </a>#}
            {#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
            {#                        <a class="dropdown-item" href="{{ url_for('binary') }}">Binary</a>#}
            {#                        <a class="dropdown-item" href="{{ url_for('colors') }}">Color Code</a>#}
            {#                        <a class="dropdown-item" href="{{ url_for('addition') }}">Addition</a>#}
            {#                        <a class="dropdown-item" href="{{ url_for('logicgates') }}">Logic Gates</a>#}
            {#                    </div>#}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "position: relative; top: 24px;">
                    New Students</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('attendance')}}">Attendance</a>
                    <a class="dropdown-item" href="{{ url_for('registrationform')}}">Registration Form</a>
                    <a class="dropdown-item" href="{{ url_for('DNHSinformative')}}">DNHS Information</a>
                    <a class="dropdown-item" href="{{ url_for('google_searchbar') }}">Google Search Engine</a>
                    <a class="dropdown-item" href="{{ url_for('map') }}">School Map</a>
                    <a class="dropdown-item" href="{{ url_for('Numbers') }}">Number</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "position: relative; top: 24px;">
                    Contact</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('contactus')}}">Contact Us</a>
                    <a class="dropdown-item" href="{{ url_for('contactothers')}}">Contact Others</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "position: relative; top: 24px;">
                    Planning</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('to_do_list')}}">To-Do List</a>
                    <a class="dropdown-item" href="{{ url_for('calendar')}}">Calendar</a>
                    <a class="dropdown-item" href="{{ url_for('long_term')}}">Long Term</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "position: relative; top: 24px;">
                    Study</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('studytimer')}}">Study Timer</a>
                    <a class="dropdown-item" href="{{ url_for('pagetwo')}}">Study and Health Habits</a>
                    <a class="dropdown-item" href="{{ url_for('FlashCards')}}">Study Flash Cards</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "position: relative; top: 24px;">
                    Practice</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('crud')}}">Crud</a>
                    <a class="dropdown-item" href="{{ url_for('search')}}">Search</a>
                    <a class="dropdown-item" href="{{ url_for('login')}}">Login</a>
                    <a class="dropdown-item" href="{{ url_for('snake')}}">Snake Game</a>
                    <a class="dropdown-item" href="{{ url_for('pixel_art')}}">Pixel Art</a>
                    <a class="dropdown-item" href="{{ url_for('numb')}}">NUMB</a>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "position: relative; top: 24px;">
                        API</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('joke')}}">Joke API</a>
                        <a class="dropdown-item" href="{{ url_for('jokes')}}">Jokes API Masterlist</a>
                        {#                            <a class="dropdown-item" href="{{ url_for('covid19')}}">Covid19 RapidAPI</a>#}
                        <a class="dropdown-item" href="{{ url_for('saumyaapi')}}">saumya's api</a>
                        <a class="dropdown-item" href="{{ url_for('aryansapi')}}">AryansApi</a>

                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style = "position: relative; top: 24px;">
                    Create Tasks</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('tictactoe')}}">Tic-Tac-Toe Modified</a>
                    <a class="dropdown-item" href="{{ url_for('csp_quiz')}}">CSP Quiz</a>
                    <a class="dropdown-item" href="{{ url_for('csp_quiz2')}}">Quiz</a>
{#                    <a class="dropdown-item" href="{{ url_for('tictactoeHARD')}}">Tic-Tac-Toe Modified</a>#}
                </div>
            </li>

            {#                <li class="nav-item dropdown">#}
            {#                        <a class="nav-link dropdown-toggle" href="#" id="rgbDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
            {#                            RGB#}
            {#                        </a>#}
            {#                        <div class="dropdown-menu" aria-labelledby="rgbDropdown">#}
            {#                            <a class="dropdown-item" href="{{ url_for('rgb') }}">RGB</a>#}
            {#                            <a class="dropdown-item" href="{{ url_for('arushirgb') }}">ArushiRGB</a>#}
            {#                            <a class="dropdown-item" href="{{ url_for('prishargb') }}">PrishaRGB</a>#}
            {#                            <a class="dropdown-item" href="{{ url_for('vaishavirgb') }}">VaishaviRGB</a>#}
            {#                            <a class="dropdown-item" href="{{ url_for('siyargb') }}">SiyaRGB</a>#}
            {#                        </div>#}
            {#                </li>#}
            {#                </li>#}
            {#            </div>#}

            <!-- ABOUT US DROPDOWN -->
{#            <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#                <li class="nav-item dropdown">#}
{#                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                        About Us#}
{#                    </a>#}
{#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                        <a class="nav-link" href="{{ url_for('AboutUs') }}">Our Team</a>#}
{#                        <a class="nav-link" href="{{ url_for('arushi.arushi') }}">Arushi</a>#}
{#                        <a class="nav-link" href="{{ url_for('prisha.prisha') }}">Prisha</a>#}
{#                        <a class="nav-link" href="{{ url_for('vidhi.vidhi') }}">Vidhi</a>#}
{#                        <a class="nav-link" href="{{ url_for('saumya.saumya') }}">Saumya</a>#}
{#                        <a class="nav-link" href="{{ url_for('aryan') }}">Aryan</a>#}
{#                    </div>#}
{#                </li>#}

{#{% block body %}#}
{#    <style>#}
{#        form {#}
{#            background-color: darkgray;#}
{#            width: 300px;#}
{#            height: 44px;#}
{#            border-radius: 5px;#}
{#            display: flex;#}
{#            flex-direction: row;#}
{#            align-items: center;#}
{#        }#}
{#        input {#}
{#            all: unset;#}
{#            font: 16px system-ui;#}
{#            color: #fff;#}
{#            height: 100%;#}
{#            width: 100%;#}
{#            padding: 6px 10px;#}
{#        }#}
{#        ::placeholder {#}
{#            color: #fff;#}
{#            opacity: 0.7;#}
{#        }#}
{#        button {#}
{#            all: unset;#}
{#            cursor: pointer;#}
{#            width: 44px;#}
{#            height: 44px;#}
{#        }#}
{#         svg {#}
{#             color: #fff;#}
{#             fill: currentColor;#}
{#             width: 24px;#}
{#             height: 24px;#}
{#             padding: 10px;#}
{#         }#}
{#    </style>#}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <div class="form-group">
                        <form role="search" id="form" method="get" action="results.html" style = "position: relative; top: 24px;">
                            <input type="text" class="form-control" id="term" placeholder="Enter Search Term">
                            <label></label> <!-- used for spacer -->
                            <button class="btn btn-primary bg-secondary" onclick="search_data();" style = "position: relative; left: 225px; top: -37px;">Search</button>
{#                            <input type="text" class="form-control" id="term" name='q' placeholder="enter search term">#}
{#                            <label></label> <!-- used for spacer -->#}
{#                            <button onclick="search_data();">#}
{#                                <svg viewBox="0 0 1024 1024"><path class="path1" ></path></svg>#}
{#                            </button>#}
                        </form>
                    </div>
                </div>
{#                                <form role="search" id="form">#}
{#                                    <input type="search" id="term" name="q"#}
{#                                           placeholder="Search..."#}
{#                                           aria-label="Search through site content">#}
{#                                </form>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</nav>

<div id="google_translate_element"></div>

<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement(
            {pageLanguage: 'en'},
            'google_translate_element'
        );
    }
</script>

<script type="text/javascript" src=
        "https://translate.google.com/translate_a/element.js?
     cb=googleTranslateElementInit">
</script>

<script>
    function search_data() {
        // fetch standard requires data set to a name-value pair
        const term = document.getElementById("term");
        const body = {
            term: term.value
        };

        // fetch call with header options
        fetch('/crud/search/term/', {
            method: "POST",
            credentials: "include",
            body: JSON.stringify(body),
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
            // async then replies with response header
            .then(function (response) {
                // prepare HTML search result container for new output
                const resultContainer = document.getElementById("result");
                // clean up from previous search
                while (resultContainer.firstChild) {
                    resultContainer.removeChild(resultContainer.firstChild);
                }
                // trap error response from Web API
                if (response.status !== 200) {
                    const errorMsg = 'Database response error: ' + response.status;
                    console.log(errorMsg);
                    const div = document.createElement("div");
                    div.innerHTML = errorMsg;
                    resultContainer.appendChild(div);
                    return;
                }
                // response contains valid result
                response.json().then(function(data) {
                    // loop through JSON and build HTML output
                    for (let i = 0; i < data.length; i++) {
                        const div = document.createElement("div");
                        div.innerHTML = data[i].name + ' ' + data[i].email;
                        resultContainer.appendChild(div);
                    }
                })
            })
    }
</script>
{##}
{#{% endblock %}#}