<head>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
</head>
<!-- Navigation Bar from bootstrap
This HTML is setup as a fragment allowing it to be "included" by other HTML files via Jinja2
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://github.com/arushi10/flask_portfolio">TechFish</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <a class="dropdown-item" href="/starter/rgb">RGB Intro</a>
        <a class="dropdown-item" href="/starter/joke">Joke API</a>
        <a class="dropdown-item" href="/starter/jokes">Jokes API</a>
        <a class="dropdown-item" href="/starter/covid19">Covid19 RapidAPI</a>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <!-- url_for is a Jinja2 pre-processor that finds route from function name (def) -->
            <a class="nav-link" href={{ url_for('index') }}>Home</a>
            <a class="nav-link" href={{ url_for('weather') }}>Weather</a>
            <!-- stub is shown using the name of the route -->
{#            <a class="nav-link" href={{ url_for('explore') }}>Explore</a>#}
{#            <a class="nav-link" href={{ url_for('cart') }}>Cart</a>#}
{#            <a class="nav-link" href={{ url_for('account') }}>Account</a>#}

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Departments
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" href={{ url_for('explore') }}>All Departments</a>
                        <a class="nav-link" href="{{ url_for('phonestablets') }}">Phones and Tablets</a>
                        <a class="nav-link" href="{{ url_for('desktopstvs') }}">Desktops/TVs</a>
                        <a class="nav-link" href="{{ url_for('audiodevices') }}">Audio Devices</a>
                        <a class="nav-link" href="{{ url_for('aidevices') }}">AI Devices</a>
                    </div>
                </li>
            </div>



            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Mini Labs
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for('binary') }}">Binary</a>
                        <a class="dropdown-item" href="{{ url_for('mini_labs') }}">Mini Labs Template</a>
                        <a class="dropdown-item" href="{{ url_for('rgb') }}">RGB</a>
                        <a class="dropdown-item" href="{{ url_for('colors') }}">Color Code</a>
                        <a class="dropdown-item" href="{{ url_for('logicgates') }}">Logic Gates</a>
                        <a class="dropdown-item" href="{{ url_for('addition') }}">Addition</a>
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            API
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ url_for('joke')}}">Joke API</a>
                            <a class="dropdown-item" href="{{ url_for('jokes')}}">Jokes API Masterlist</a>
                            <a class="dropdown-item" href="{{ url_for('covid19')}}">Covid19 RapidAPI</a>
                        </div>
                    </div>
                </li>
                {#                <li class="nav-item dropdown">#}
                {#                    <a class="nav-link dropdown-toggle" href="#" id="navbarModel" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                {#                        Data#}
                {#                    </a>#}
                {#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
                {#                        <a class="dropdown-item" href="/api/joke">Joke RESTapi</a>#}
                {#                        <a class="dropdown-item" href="/api/jokes">Jokes RESTapi</a>#}
                {#                        <a class="dropdown-item" href="/crud/">SQL CRUD</a>#}
                {#                    </div>#}
                {#                </li>#}
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About Us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link" href="{{ url_for('AboutUs') }}">Our Team</a>
                            <a class="nav-link" href="{{ url_for('arushi') }}">Arushi</a>
                            <a class="dropdown-item" href="{{ url_for('arushirgb') }}">ArushiRGB</a>
                            <a class="nav-link" href="{{ url_for('prisha') }}">Prisha</a>
                            <a class="dropdown-item" href="{{ url_for('prishargb') }}">PrishaRGB</a>
                            <a class="nav-link" href="{{ url_for('vai') }}">Vaishavi</a>
                            <a class="dropdown-item" href="{{ url_for('vaishavirgb') }}">VaishaviRGB</a>
                            <a class="nav-link" href="{{ url_for('siya') }}">Siya</a>
                            <a class="dropdown-item" href="{{ url_for('siyargb') }}">SiyaRGB</a>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </div>
</nav>
