<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Arushi's" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

        <div class="col-12">
            <p style="color:white">What would you like to shop for? {{name1}}</p>
        </div>
        <div class="col-12">
            <form action= "/explore/" id="explore" method="POST">
                <label for="name"><p style="color:white">Search</p> </label>
                <input name="name" id="name">
                <input type="submit" value="Submit">
            </form>
        </div>
        <p style="color:yellow">Recommended for You</p>

        {% set world = stats.world_total %}
        {% set countries = stats.countries_stat %}

        <div class="col-12">
        <p style="color:white">Headphones</p>
        <img src="/static/assets/sonyheadphones.jpg" style="height: 400px" alt = "Sony Headphones">
            <p style="color:white">Phones</p>
    <img src="/static/assets/techfishphone.jpeg" style="height: 400px" alt = "Sony Headphones">
            <p style="color:white">Computers</p>
    <img src="/static/assets/techfishcomputers.jpg" style="height: 400px" alt = "Sony Headphones">
    </div>
    </div>

{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
