<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Arushi's" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

        <div class="col-12">
            <p>What would you like to shop for? {{name1}}</p>
        </div>
        <div class="col-12">
            <form action= "/explore/" id="explore" method="POST">
                <label for="name">Search </label>
                <input name="name" id="name">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <h2>Recommended for You</h2>
    <table style="width:100%">
    <tr>
        <td><img src="/static/assets/explorePic3.jpg"/></td>
        <td><img src="/static/assets/explorePic2.jpg"/></td>
        <td id="andGate"> 0 </td>
    </tr>
{% endblock %}


<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}