<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Google Map %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">

        <div class="col-12">
            <a href="url">https://www.google.com/maps/search/Tech+Stores+Near+Me/@33.0070044,-117.114429,14.95z</a>
        </div>



{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
