{% extends "layouts/base.html" %}
{% set project = "Attendance" %}
{% block body %}

    <style>
        html, body{
            {#background-color: #071036;#}
    </style>
    </div>

    <div id="section2" class="container-fluid">
        </script>
        <h2>Learn more about self-care and studying habits!</h2>
        <a href="https://www.apu.edu/articles/6-crucial-study-habits-for-college-students/" >
            <button type="button" class="btn btn-info">Best Study Habits</button>
        </a>
        <a href="https://www.nytimes.com/2019/03/25/smarter-living/why-you-procrastinate-it-has-nothing-to-do-with-self-control.html" >
            <button type="button" class="btn btn-info">Problems with Procrastination</button>
        </a>
        <a href="https://dhss.delaware.gov/dhss/dph/dpc/eatright.html" >
            <button type="button" class="btn btn-info">Healthy Eating Habits</button>
    </div>

{% endblock %}
