<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Vaishavi's" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <div class="center-block" style="margin: 2% 5% 5%; text-align:left; font-family: gilroy,serif;">
        <div class="col-12">
            <div class="col-12">
                <div class=""paragraph"><p>Hi, I'm Siya Dixit! I am an Operations Officer of TechFish!</p></div>
            <img src="/static/assets/siyaslack.jpg" style="height: 400px" alt = "no">
        </div>
    </div>


{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
