<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Mini-labs" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <div class="container">
        <div class="row">
            <div class="col-sm">
                Journals
            </div>
            <div class="col-sm">
                Research
            </div>
            <div class="col-sm">
                TPTs
            </div>
            <div class="col-sm">
                Other
            </div>
        </div>
    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}